.button-container {
  display: flex;
  justify-content: center;
}

.event-button {
  font-size: 36px;
  background: green;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 10px 0 0 0;
}

.event-delete-button {
  background: red;
}

.event-input-container {
  display: flex;
  flex-direction: column;
  font-size: 26px;
  margin-left: 10px;
}

.event-inputs {
  margin-bottom: 10px;
}

.event-text-input {
  margin: 0 0 0 10px;
  font-size: 20px;
  font-weight: 700;
}

.event-time-input {
  font-size: 20px;
  margin: 0 0 0 151px;
}

.important-message {
  color: red;
  font-weight: 700;
}

.event-describer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 26px;
  margin: 10px 0 0 0;
  background: orange;
  width: 50vw;
  border-radius: 10px;
  border: 3px solid black;
}

.event-describer-item {
  color: black;
  align-self: center;
}

.event-list-header {
  text-align: center;
  font-size: 36px;
}

.event-list-container {
  overflow: "auto";
  /* height: 400px; */
  background: rgba(0, 0, 0, 0.9);
  width: 80%;
  margin: 10px auto 0 auto;
  border: 3px solid orange;
  color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
}

.selected-event-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 700px) {
  .event-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .event-text-input {
    margin: 0;
    display: block;
  }

  .event-time-input {
    display: block;
    margin: 0;
  }

  .event-input-label {
    display: block;
  }
}
