.month-text {
  font-size: 1.625rem;
  font-weight: 400;
  margin: 0 5px;
  display: inline-block;
  width: fit-content;
  text-align: center;
  user-select: none;
}

.month-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrows {
  font-size: 1.25rem;
}
